@font-face { 
	font-family: Stampa; 		
	src: url(fonts/stampa.woff2) format("woff2");
	font-weight: 400;
}
/* :root {
  --em-size: 16px;
  --font: system-ui, sans-serif;
  --max-width: 56rem;

  --c-surface: white;
  --c-surface-accent: SeaShell;
  --c-surface-light: #fcfcfc;
  --c-ink: #333;
  --c-border: rgba(0, 0, 0, 0.15);
  --c-accent: cornflowerblue;
  --c-accent-hover: darkslateblue;

  --gradient-light: red;
  --gradient-dark: green;
} */

/* @media (prefers-color-scheme:dark) { */
  :root {
    --em-size: 16px;
    --font: system-ui, sans-serif;
    --font-display: "Stampa", serif;
    --max-width: 36rem;

    --c-surface: black;
    --c-surface-accent: #111;
    --c-surface-light: #202326;
    --c-ink: #efefef;
    --c-border: rgba(255, 255, 255, 0.15);
    --c-accent: moccasin;
    --c-accent-hover: peachpuff;

    --gradient-light: red;
    --gradient-dark: green;
  }
/* } */

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.15); */
}

html,
body {
  font-family: var(--font);
  font-size: var(--em-size);
  color: var(--c-ink);
  background: var(--c-surface);
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--c-border);
  margin: 2rem 0 2rem 0;
}

header {
  width: 100%;
}

nav,
section,
footer {
  /* margin-bottom: 4rem; */

  max-width: var(--max-width);
  margin: 0 auto 1rem auto;
}

header {
  background: var(--c-surface-accent);
  padding: 8rem;
}

header>* {
  text-align: center;
  margin-bottom: 1rem;
}

header>h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 400;
}

h1 {
  font-size: 2.8rem;
  color: var(--c-accent);
}

h2 {
  font-size: 2rem;
  color: deeppink;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
ol,
ul,
table,
pre,
code,
blockquote,
figure,
figcaption {
  margin-bottom: 0.5rem;
}

h2,
h3,
h4,
h5,
h6,
table,
pre,
code,
blockquote,
figure {
  margin-top: 2rem;
}

table {
  display: block;
  border-radius: 0.5rem;
  border: 1px solid var(--c-border);
  width: 100%;
  margin: 2rem 0;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid var(--c-border);
}

tr:nth-child(even) {
  background-color: var(--c-surface-light);
}

th,
td {
  padding: 0.5rem 1rem;
}

tbody>tr:last-child {
  border-bottom: none;
}

th:first-of-type {
  border-top-left-radius: 0.5rem;
}

th:last-of-type {
  border-top-right-radius: 0.5rem;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 0.5rem;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 0.5rem;
}

.chat {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  /* padding: 1rem 1.5rem; */
  margin-bottom: 1rem;

  border: 4px solid transparent;
  padding: 1rem 1.5rem;

  border-radius: 1rem;

  --colorA: deeppink;
  --colorB: darkorchid;
  --colorC: gold;

  --background: var(--c-surface-light);

  background:
    linear-gradient(var(--background) 0 0) padding-box,
    conic-gradient(from 0deg at 50% 50%, var(--colorA), var(--colorB), var(--colorA)) border-box;

  transition: 0.5s all ease-in-out;
}

.chat:hover {
  --colorA: gold;
  --colorB: deeppink;
  --colorC: darkorchid;

  /* border: 8px solid transparent;
  padding: 12px; */

  --background: #34393e;
}

.chat_message {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1rem;
}

.chat_message>div>p {
  margin: 0;
}

.chat_message>img {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: auto;
}

time {
  color: #a6a6a8;
  font-size: 90%;
  margin-left: 0.2rem;
}

._bot_true {
  display: inline;
  padding: 0.1rem 0.2rem;
  background-color: #383a3e;
  color: #a6a6a8;
  font-size: 70%;
  font-weight: 500;
  border-radius: 0.2rem;
}

._bot_false {
  display: none;
}

mark {
  background-color: #191a1c;
  padding: 0 0.2rem;
  font-weight: 700;
  /* color: #fb3570; */
  color: deeppink;
}

/* blockquote>p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 2rem;
  font-weight: 300;
  display: block;
  text-align: center;
  border: 1px solid var(--c-border);
  border-radius: 0.5rem;
} */

footer {
  padding: 1rem 0;
}

footer>p {
  font-size: 0.85rem;
  margin: 0;
  text-align: center;
}

a,
a:link,
a:visited {
  color: var(--c-accent);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--c-accent-hover);
  text-decoration: underline;
}

a[target="_blank"]::after {
  content: " ↗";
}

p {
  font-family: var(--font);
  font-weight: normal;
  color: var(--c-ink);
  font-size: 1rem;
  /* line-height: 1.5; */
}

ol,
ul {
  padding-left: 1rem;
}

/* code {
  font-family: monospace;
  font-size: 0.9rem;
  background-color: var(--c-surface-accent);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
} */

pre {
  font-family: system-ui, sans-serif;
  font-size: 0.9rem;
  background-color: var(--c-surface-light);
  padding: 2rem;
  border-radius: 1rem;
}

@media (max-width: 720px) {
  :root {
    --em-size: 14px;
  }
}
