<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{sitename}} · {{title}}</title>

    <!-- Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/svg" href="/static/favicon.svg" />
    <!-- <script src="/static/borders.js" defer></script> -->

    <!-- SEO -->
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />

    <!-- Basic Open Graph -->
    <meta content="{{title}}" itemProp="name" class="next-head" />
    <meta content="{{description}}" itemProp="description" class="next-head" />
    <meta content="{{previewImage}}" itemProp="image" class="next-head" />

    <!-- Generic Open Graph -->
    <meta property="og:type" content="article" class="next-head" />
    <meta content="{{title}}" property="og:title" class="next-head" />
    <meta content="{{siteurl}}" property="og:url" class="next-head" />
    <meta content="{{previewImage}}" property="og:image" class="next-head" />
    <meta content="{{description}}" property="og:description" class="next-head" />
    <meta content="{{sitename}}" property="og:site_name" class="next-head" />

</head>
