<header>
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <p><a href="#">Install to slack</a> • <a href="#">Sign in</a></p>
</header>

<style>
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 1rem;
    /* background-color: red; */
    /* padding: 1rem; */

    border: 4px solid transparent;
    padding: 1rem 1.5rem;
    border-radius: 1rem;

    --colorA: deeppink;
    --colorB: darkorchid;

    --background: var(--c-surface-light);

    background:
      linear-gradient(var(--background) 0 0) padding-box,
      conic-gradient(from 0deg at 50% 50%, var(--colorA), var(--colorB), var(--colorA)) border-box;
  }

  nav:first-child {
    margin-right: auto;
  }

  nav>*:nth-child(2) {
    margin-left: auto;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--c-surface-accent);
    min-width: 16rem;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

</style>

<nav>
  <a href="/">home</a>
  <div class="dropdown">
    <a href="#">Instructions</a>
    <div class="dropdown-content">
      <p><a href="/add_to_channel/">Add to channel</a></p>
      <p><a href="/nickname_instruction/">Assign nicknames</a></p>
      <p><a href="/points_instruction/">Assign points</a></p>
      <p><a href="/title_instruction/">Assign titles</a></p>
    </div>
  </div>
  <a href="/about/">about</a>
  <a href="/privacy/">privacy</a>
</nav>

<hr />
