<div class="chat_message __borders">
  <img src="/static/img/avatar/{{avatar}}.jpg" />
  <div>
    <p><strong>{{name}}</strong> <span class="_bot_{{isbot}}">APP</span> <time>{{time}}</time></p>
    <p>{{message}}</p>
  </div>
</div>
