<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">

{{#set:title=About Qitten}}
{{#set:description=About page.}}
{{#include:_include/_head.html}}

<body>
  {{#include:_include/_nav.html}}

  <section>
    <h1>About Qitten</h1>
    <p>Totam nostrum, nemo perferendis labore incidunt mollitia! Magni cum dicta repellendus voluptates magnam reiciendis temporibus libero ea repudiandae soluta autem, quo vitae.</p>
  </section>

  <section>
    <h2>Alexey Chernikov</h2>
    <p>Autem blanditiis tenetur, earum nam possimus aliquid consectetur dolores, eveniet asperiores inventore vero a, velit harum animi quaerat quisquam minus cumque. Qui.</p>
  </section>

  <section>
    <h2>Contact us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores ab officia nesciunt ipsum quisquam distinctio, quam consequuntur! Dolores eligendi ducimus ex reiciendis aperiam accusantium totam, veniam sint architecto quos cumque?</p>
  </section>

  {{#include:_include/_footer.html}}
</body>

</html>
