<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">

{{#set:title=Home}}
{{#set:description=Work - gamified}}
{{#include:_include/_head.html}}

<body>
  {{#include:_include/_nav.html}}

  <section>
    {{#markdown:source/markdown/index.md}}
  </section>

  {{#include:_include/_footer.html}}
</body>

</html>
