<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">

{{#set:title=TODO: Legal}}
{{#set:description=TODO: Legal description}}
{{#include:_include/_head.html}}

<body>
  {{#include:_include/_nav.html}}

  <section>
    <h1>Privacy notice</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque quasi architecto molestiae
      reiciendis! Voluptas, dolorem? Temporibus fugiat veniam officiis autem repellat aspernatur odit, eveniet
      consequuntur, repellendus quae reprehenderit perspiciatis!</p>
  </section>

  {{#include:_include/_footer.html}}
</body>

</html>
