<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">

{{#set:title=Nicknames}}
{{#set:description=Nicknames Instructions}}
{{#include:_include/_head.html}}

<body>
  {{#include:_include/_nav.html}}
  
  <section>
    {{#markdown:source/markdown/nickname_instruction.md}}
  </section>

  {{#include:_include/_footer.html}}
</body>

</html>
