<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">

{{#set:title=Privacy policy}}
{{#set:description=Privacy policy}}
{{#include:_include/_head.html}}

<body>
  {{#include:_include/_nav.html}}

  <section>
    <a href="/legal/">full legal</a>

    <h1>Our privacy policy in simple terms</h1>

    <p>We care deeply about privacy, and do our best to respect and protect yours.</p>

    <p>You can read the details in the legal section; this page is intended as a simple, easy-to-read, informal
      statement.
    </p>

    <p>Qitten's simple functionality does not require storing any sensitive personal information for its operation, and
      so
      we don't. We are a service provider; we are not in the business of collecting or monetizing data. We've worked
      hard
      to make sure we only access the bare minimum of what's required.</p>

    <p>If you have specific questions around our privacy operations - please don't hesitate to reach out.</p>

    <h2>Message data</h2>
    <p>We don't store any message data in raw or aggregate form.</p>
    <p>We store only functional data necessary for the bot's operation: player IDs, points, titles, nicknames.</p>

    <h2>User info</h2>
    <p>We store <a href="/nickname_instruction">names/nicknames</a>, but no other identifying information - in
      particular, we don't store email addresses or
      any contact information.</p>
  </section>


  {{#include:_include/_footer.html}}
</body>

</html>
